<div class="page-wrapper">
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex">
                            <div>
                                <h4 class="card-title">แก้ไขรายการ</h4>
                                <!-- <h5 class="card-subtitle">Overview of Top Selling Items</h5> -->
                            </div>
                        </div>
                        <!-- title -->
                        <div class="col-md-12">
                            <form #f="ngForm" (ngSubmit)="formSubmitData(f)" novalidate>
                                <div class="form-group">
                                    <label for="back_code">เลขที่บัญชี:</label>
                                    <input type="text" class="form-control" id="back_code" ngModel="{{data.back_code}}" #back_code="ngModel" placeholder="Enter เลขที่บัญชี" name="back_code">
                                </div>
                                <div class="form-group">
                                    <label for="back_name">ชื่อบัญชี:</label>
                                    <input type="text" class="form-control" id="back_name" ngModel="{{data.back_name}}" #back_name="ngModel" placeholder="Enter ชื่อบัญชี" name="back_name">
                                </div>
                                <div class="form-group">
                                    <label for="price">จำนวนเงิน:</label>
                                    <input type="text" class="form-control" id="price" ngModel="{{data.price}}" #price="ngModel" placeholder="Enter จำนวนเงิน" name="price">
                                </div>
                                <div class="form-group">
                                    <br>
                                    <input type="hidden" id="id" name="id" ngModel="{{data.id}}" #id="ngModel">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>