<div class="page-wrapper">
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex">
                            <div>
                                <h4 class="card-title">รายการบัญชี</h4>
                                <!-- <h5 class="card-subtitle">Overview of Top Selling Items</h5> -->
                            </div>
                            <div class="ms-auto">
                                <a href="back_accounts/add" class="btn btn-primary text-white">เพิ่มรายการ</a>
                            </div>
                        </div>
                        <!-- title -->
                        <div class="table-responsive">
                            <table class="table mb-0 table-hover align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">เลขที่บัญชี</th>
                                        <th class="border-top-0">ชื่อบัญชี</th>
                                        <th class="border-top-0">จำนวนเงินคงหลิอ</th>
                                        <th class="border-top-0">วันที่สร้าง</th>
                                        <th class="border-top-0">วันที่แก้ไข</th>
                                        <th class="border-top-0">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data;">
                                        <td>{{item.back_code}}</td>
                                        <td>{{item.back_name}}</td>
                                        <td>{{item.price}}</td>
                                        <td>{{item.created_at | date :'medium'}}</td>
                                        <td>{{item.created_at | date :'medium'}}</td>
                                        <td>
                                            <a href="/back_accounts/edit/{{item.id}}"><i class="fa fa-edit"></i> Edit</a> |
                                            <a href="javascript:void(0)" (click)="btnDelete(item)"><i class="fa fa-trash"></i> Del</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>