<!-- <div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div> -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <app-header></app-header>
    <app-menu-bar></app-menu-bar>
    <router-outlet></router-outlet>
</div>
<!-- <app-footer></app-footer> -->